{% extends 'base.html' %}

{% block content %}
    <h1> Apache log Parser</h1>

    <form method="POST" action=" {{ url_for('index') }} " enctype="multipart/form-data">
        <div class="mb-3">
            <input class="form-control" name="file" type="file" id="formFile">
            <button type="sumbit" class="btn btn-primary">Sumbit</button>
          </div>
    </form>

    <div class="ips">
        {% for elem in ipNoban%}
    <p>{{ elem['ip'] }} - {{ elem['frequency'] }}</p>
        {% endfor %}
    </div>

    <div class="ban">
        {% for elem in ipban%}
        <p>Ban {{ elem['ip'] }} - {{ elem['frequency'] }}</p>
            {% endfor %}
    </div> 

{% endblock %}